.custom-dropdown {
    position: relative;
}

.custom-dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.custom-dropdown-item:hover {
    background-color: #333;
}

#leagues-display {
    background: none;
    border: none;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Prediction Button Styles */
.prediction-button {
    background-color: #333;
    color: white;
    border: 2px solid white;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1 1 calc(33% - 1rem); /* Allow buttons to wrap */
    margin: 0.5rem;
    text-align: center;
}

.prediction-button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}

.prediction-button.active {
    background-color: #FFD700; /* Gold color for active button */
    border-color: #FFD700; /* Match border color */
    color: black;
    transform: scale(1.1); /* Slightly larger */
}

/* Flex container for prediction buttons */
#prediction-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Success message animation */
[x-cloak] {
    display: none;
}

/* Random Predictions styling */
.random-prediction {
    background-color: #1f2937;
    border: 1px solid #374151;
    border-radius: 0.375rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.random-prediction:hover {
    background-color: #2d3748;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.random-prediction p {
    margin: 0;
}

.random-prediction .username {
    font-weight: bold;
}

.random-prediction .time-ago {
    color: #9CA3AF;
    font-size: 0.875rem;
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, #6b46c1, #d53f8c, #ed64a6);
}

.shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.shadow-xl {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.transform {
    transform: scale(1);
}

.transition {
    transition: all 0.3s ease-in-out;
}
